* {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

.top-title{
    text-align: center;
    position: relative;
    top: 60px;
    text-decoration: underline;
}

.container {

    display: flex;
    flex-direction: column;
    margin: 80px auto;
    
}

.button {
    width: 100px;
    height: 100px;
    font-size: 16px;
}

.row1,
.row2,
.row3 {
    margin: 0 auto;
    margin-bottom: 4px;
}
.reset{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: green;
    width: 160px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    bottom: 273px;
    left: -1000px;
}
.reset button,.resetGame button{
    width: 120px;
    height: 30px;
    background-color: gold;
}

.resetGame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 160px;
    height: 70px;
    margin: 0 auto;
    background-color: green;
    position: relative;
    bottom: 140px;
    left: -1000px;
}